<launch>
  <!-- Push into a namspace so mqtt is still valid even if brain and core are both run on the same host. -->
  <group ns="ktbrain">
    <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
      <rosparam command="load" file="$(find kt_core)/config/ktbrain_bridge_params.yaml" />
    </node>

    <!-- TODO: Mapping & localization -->
  </group>
</launch>
