<?xml version="1.0"?>

<model>
  <name>Realsense D435</name>
  <version>1.0</version>
  <sdf version='1.4'>realsense_d435.sdf</sdf>

  <author>
    <name>Scott Martin</name>
    <email>smartin015@gmail.com</email>
  </author>

  <description>
    Intel Realsense D435 Model
  </description>
</model>
