<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="detect" default="true"/>

  <!-- Start gazebo with model path & console config -->
  <env name="GAZEBO_MODEL_PATH" value="$(find inserter_detector)/simulation" />
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find inserter_detector)/launch/rosconsole.conf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find inserter_detector)/simulation/sim.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find inserter_detector)/simulation/inserter/inserter2.xacro' robot_name:=inserter" />

  <!-- Spawn robots -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model inserter -param robot_description"/>

  <!-- Publish static TF for realsense camera position/orientation -->
  <node name="realsense_tf" pkg="tf" type="static_transform_publisher" args="0 0 3 0 3.14 0 world realsense 100" />

  <group if="$(arg detect)">
    <node name="inserter_detector" pkg="inserter_detector" type="node" output="screen">
      <remap from="input" to="/realsense/depth_registered/points"/>
      <remap from="output" to="filtered"/>
      <remap from="perf" to="perf"/>
    </node>

    <!-- For debugging, show performance of the point cloud code -->
    <node name="perf" pkg="rqt_plot" type="rqt_plot" args="perf"/>
  </group>

  <rosparam command="load" file="$(find inserter_detector)/config/joints.yaml"/>
  <node name="inserter_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller arm_controller"/>

  <!-- Show the point clouds in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inserter_detector)/launch/realsense.rviz"/>

</launch>
